.main-heading{
    text-align: center;
    background-color: yellow;
}
.head-area{
    background-color: beige;
}
.content{
    display: flex;
    height: 300;
}
.form-container{
    background-color: blue;
    height: 300;
    width: 100%;
}
.appointment-list{
    background-color: green;
    height: 300;
    width: 100%;
}